<div class="center text overflow-auto" style="height: 80%">
  <form [formGroup]="extForm" class="col-sm-12" (submit)="sendReq()">
    <div class="mt-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="lang" for="lang" value="en" [formControlName]="'abstract'">
        abstract
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="lang" for="lang" value="it" [formControlName]="'categories'">
        categories
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="lang" for="lang" value="auto" [formControlName]="'image'">
        image
      </div>
    </div>
    <label for="text">Text to be analysed</label>
    <input type="text" class="col-sm-8 custom" placeholder="Place your text here" [formControlName]="'text'">
    <input type="range" class="form-range" min="0" max="1" step="0.1" id="slider" [formControlName]="'confidence'">
    <button [disabled]="!extForm.valid" type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>
  <div *ngFor="let annotation of annotations;" class="mb-2 text">
    <h4>{{ annotation.spot }}</h4>
    <img [src]="annotation.image?.thumbnail">
    <p>{{ annotation.abstract }}</p>
    <p>{{ annotation.categories }}</p>
  </div>

</div>

