<div class="center text">
  <form [formGroup]="simForm" class="col-sm-12 text" (submit)="sendReq()">
    <div>
      <label for="text1" class="text">Text 1</label>
      <input type="text" class="col-sm-9 custom" placeholder="Your first text" [formControlName]="'text1'">
    </div>
    <div>
    <label for="text2" class="text">Text 2</label>
    <input type="text" class="col-sm-9 custom" placeholder="Your second text"[formControlName]="'text2'">
    </div>
    <button [disabled]="!simForm.valid" type="submit" class="btn btn-primary custom">Submit</button>
    <div>
      <p>Similarity: {{ similarity }}%</p>
    </div>
  </form>
</div>
