/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.background{
  background-image: url("https://wallpaperaccess.com/full/637628.jpg");
}

.text{
  color: white;
}

.custom{
  margin: 15px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #FFFF00;
  padding: 30px;
  background-color: gray;
}
